#root {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: url('../public/assets/background.jpg')!important;
}

.slider,
.slider-same-height {
  .slick-track {
    display: flex;
  }
  .slick-list {
    margin: 0 -16px !important;
  }
  .slick-slide {
    height: unset;
    & > div {
      padding: 0 16px;
      height: 100%
    }
    & img {
      display: block!important;
    }
  }
  @media only screen and (max-width: 768px) {
    .slick-list {
      margin: -16px -8px !important;
    }
  }
}

.slider-same-height {

  .slick-slide {
    height: inherit !important;
    & > div {
      height: 100%;
    }
  }
}
